*{
    font-family: 'Kanit', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}

@media (max-width: 992px) {
    .hidden-mobile {
      display: none;
    }
  }
  